// =====================================================================
// _colors.scss
// =====================================================================


$primary-color: #402E32;

$button-primary-color: #402E32;

$button-text-color: #FFFFFF;

$light-text-color: #777;

$card-border-color: #d3d3d3;

$background-color: #FBD7BD;

$list-background-color: #FFEACF;

$sidebar-nav-background-color: #312525;

// Slightly lighten a color
@function tint($color, $percentage) {
    @return mix(#fff, $color, $percentage);
}

// Slightly darken a color
@function shade($color, $percentage) {
    @return mix(#000, $color, $percentage);
}

/*
    https://mycolor.space/?hex=%23FBD7BD&sub=1 color palette, choose wisely.
*/