// =====================================================================
// _colors.scss
// =====================================================================


    $primary-color: #402E32;
    
    $button-primary-color: #402E32;

    $button-text-color: #FFFFFF;

    $background-color: #FBD7BD;
    
    $list-background-color: #FFEACF;
    
/*
    https://mycolor.space/?hex=%23FBD7BD&sub=1 color palette, choose wisely.
*/
