// =====================================================================
// _general.scss
// =====================================================================

body,
html {
    width: $pageWidthDesk;
    height: 100%;
    margin: auto;
    padding: 0;
    border: 2px solid rgb(255, 0, 0);
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding: 0 20px;
    max-width: $pageWidth;
}


// TEMPERARY DUMMY

.buttons {
    width: 50%;
    margin: auto;
}