// =====================================================================
// _general.scss
// =====================================================================

body,
html {
    height: 100%;
    margin: auto;
    padding: 0;
}

h1,
h2 {
    font-family: $headerFont;
}
h1 {
    font-size: pxToRem(40);
}
h2 {
    font-size: pxToRem(30);
}

p {
    font-family: $textFont;
    font-size: pxToRem(25);
}

.text__light {
    color: $light-text-color;
    font-family: $textFont;
    font-size: pxToRem(10);
}

button {
    border: 0;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: $button-text-color;
    background-color: $button-primary-color;
    font-family: $textFont;
    font-size: 1.2rem;
}

.card {
    border: 2px solid $card-border;
    border-radius: 15px;
    overflow: hidden;
    background-color: $list-background-color;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding: 0 20px;
    max-width: $pageWidthDesk;
}
