// =====================================================================
// _variables.scss
// =====================================================================

$pageWidthDesk: 1200px;
$pageWidthTablet: 800px;
$pageWidthMobile: 480px;