// =====================================================================
// _header.scss
// =====================================================================
@import "../abstract/variables";
@import "../abstract/colors";

header {   
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: $pageWidthDesk;
    margin: 0 auto;
    padding: pxToRem(20) pxToRem(20);
    background-color: $background-color;
    text-align: center;
}

.header-nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    
}

.header-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    margin-right: pxToRem(20);

}

.header-list li {
    margin-right: pxToRem(20);
}

.header-list a {
    text-decoration: none;
    color: $primary-color;
}

.header-list a:hover,
.header-list a:focus {
    //color: $button-primary-color; //Verify with group if color should change, if so to what?
    text-decoration: underline; 
}

.header-button__basket {
    margin-right: pxToRem(50);
    cursor: pointer;
}