// ===================================================================
// _orders.scss
// ===================================================================

.order__container {
    width: $pageWidthDesk;
    margin: auto;
    border: 2px solid grey;
}

.order__head {
    margin: 0;
}